<div class="container">
  <form [formGroup]="photoForm" class="row" (submit)="upload()">
    <div class="col-md-6 text-center">
      <div class="form-group" *ngIf="!preview; else showPreviewImage">
        <!-- apImmediateClick: Quando o template é carregado, o botão de selecionar imagem recebe o click -->
        <!-- e o diretório de arquivos do dispositivo é aberto. -->
        <button
          apImmediateClick
          type="button"
          (click)="fileInput.click()"
          class="btn btn-primary"
        >
          <i class="fa fa-image fa-4x align-middle"></i>
        </button>
        <input
          hidden
          #fileInput
          type="file"
          accept="image/*"
          (change)="handleFile($event.target.files[0])"
          formControlName="file"
        />
        <ap-vmessage
          text="Please, select a photo"
          *ngIf="photoForm.get('file').hasError('required')"
        ></ap-vmessage>
      </div>

      <!-- 'photo.component' é chamado para que a imagem de preview seja exibida de uma forma padronizada. -->
      <ng-template #showPreviewImage>
        <div class="text-center">
          <ap-photo [url]="preview" title="Preview"></ap-photo>
        </div>
      </ng-template>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <textarea
          class="form-control form-control-sm"
          placeholder="photo description"
          formControlName="description"
        ></textarea>
        <ap-vmessage
          text="Max length is 300"
          *ngIf="photoForm.get('description').hasError('maxlength')"
        ></ap-vmessage>
      </div>

      <div class="form-group">
        <label class="text-muted">
          Allow comments
          <input type="checkbox" formControlName="allowComments" />
        </label>
      </div>

      <div *ngIf="!percentDone; else imageUpload">
        <button
          [disabled]="photoForm.invalid"
          type="submit"
          class="btn btn-primary btn-block"
        >
          Upload
        </button>

        <a [routerLink]="['']" class="btn btn-secondary btn-block">Cancel</a>
      </div>
      <ng-template #imageUpload>
        <span class="text-center display-4">
          uploading {{ percentDone }}&#37;
        </span>
      </ng-template>

    </div>
  </form>
</div>
